@model List<CheeseMVCPersistent.Models.CheeseCategory>

<h1>My Categories</h1>



@if (Model.Count == 0)
{
    <p>No categories yet!</p>
}
<p><a asp-controller="Category" asp-action="Add"><button type="button">Add Category</button></a></p>

<table class="table">    
    @foreach (var category in Model)
    {
        <tr>   
            <td><a asp-controller="Cheese" asp-action="Category" asp-route-id="@category.ID">@category.Name</a></td>    
        </tr>
    }
</table>
