@model CheeseMVCPersistent.ViewModels.AddMenuItemViewModel

<h1>@ViewBag.Title</h1>

<form asp-controller="Menu" asp-action="AddItem" method="post">

    <div class="form-group">
        <label asp-for="CheeseID"></label>
        <select class="form-control" asp-for="CheeseID" asp-items="Model.Cheeses"></select>
        <input type="hidden" name="MenuID" value="@Model.Menu.ID" />
        <span asp-validation-for="CheeseID" class="text-danger"></span>
    </div>
    
    <input type="submit" value="Add Item" />
</form>